<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <style>
            body {
                text-align: center;
            }
            ul {
                text-align: center;
                list-style-type: none;
            }
        </style>
        <meta charset="UTF-8" />
        <title>Iltapulu</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div th:replace="fragments/header :: header">
        </div>
        <br/>
        <br/>
        <br/>
        <br/>

        <h1 th:text="${aNew.title}">Otsikko</h1>
        <br/>
        <h3 th:text="${aNew.ingress}">Ingressi</h3>
        <br/>
        <img th:src="@{/images/{id}(id=${aNew.id})}" alt="Kuva ei näy!" width="600"/>
        <br/>
        <br/>
        <p  th:text="${aNew.text}"/>
        <br/>
        <br/>
        <br/>
        <label>Julkaistu:</label>
        <span th:text="${aNew.published}"/>
        <br/>
        <label>Kirjoittajat:</label><br/>
        <ul>
            <li th:each="writer:${aNew.writers}" th:text="${writer.name}"/>
        </ul><br/>
        <label>Kategoriat:</label>
        <ul>
            <li th:each="category:${aNew.categories}" th:text="${category.name}"/>                    
        </ul>
        <label>Luettu: </label><span th:text="${aNew.views}"/>

        <form th:method="DELETE" th:action="@{/news/{id}(id=${aNew.id})}">
            <input type="submit" value="poista"/>
        </form>


        <div th:replace="fragments/footer :: footer">
        </div>
    </body>

</html>
