<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <style>
            ul {
                text-align: center;
                list-style-type: none;
            }
        </style>
        <meta charset="UTF-8" />
        <title>Iltapulu</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div th:replace="fragments/header :: header">
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <form method="GET" th:action="@{/news/{name}/list/{index}/published(name=${title},index=${index})}" style='text-align: center'>
            <button type="submit">Listaa tuoreimmat ensin</button>
            <button type="submit" th:formaction="@{/news/{name}/list/{index}/views(name=${title},index=${index})}">Listaa suosituimmat ensin</button>
        </form>

        <ul>
            <li th:each="aNew:${news}">
                <h2><a href="#" th:href="@{/news/{id}(id=${aNew.id})}" th:text="${aNew.title}">Otsikko</a></h2>
                <br/>
                <h4 th:text="${aNew.ingress}">Ingressi</h4>
                <br/>
                <img th:src="@{/images/{id}(id=${aNew.id})}" alt="Kuva ei näy!" width="500"/>
                <br/>
                <br/>
            </li>
        </ul>


        <form method="GET" th:action="@{/news/list/{index}(index=${index}+1)}" style='text-align: center'>
            <div th:if="${index}>1">
                <button type="submit" th:formaction="@{/news/list/{index}(index=${index}-1)}">Edelliset 10</button>
            </div>
            <div th:if="${index}*10 <= ${newsCount}">
                <button type="submit">Seuraavat 10</button>
            </div>
        </form>


        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

        <div th:replace="fragments/footer :: footer">
        </div>
    </body>

</html>
