<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <style>
            ul {
                text-align: center;
                list-style-type: none;
            }
            body {
                text-align: center;
            }
        </style>
        <meta charset="UTF-8" />
        <title>Iltapulu</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div th:replace="fragments/header :: header"/>

        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <div th:if="${messages}">
            <ul>
                <li th:each="message:${messages}" th:text="${message}"/>
            </ul>
        </div>
        <form action="/register" method="POST">
            <input type="text" name="username" placeholder="Käyttäjätunnus"/><br/>
            <input type="password" name="password" placeholder="Salasana"/><br/>
            <input type="password" name="passwordConfirm" placeholder="Salasana uudestaan"/><br/>
            <input type="submit" value="Rekisteröidy"/>
        </form>


    </body>

</html>
