<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" style="height: 100%">

    <head>
        <style>
            ul {
                text-align: center;
                list-style-type: none;
            }
        </style>
        <meta charset="UTF-8" />
        <title>Iltapulu</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
<!--        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>-->

    </head>
    <body style="text-align: center">
        <div th:replace="fragments/header :: header">
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>
        <br/>

            <div th:if="${messages}">
                <ul>
                    <li th:each="message:${messages}" th:text="${message}"/>
                </ul>
            </div>

        <h3>Löydetyt uutiset hakusanalla </h3><h2 th:text="${title}">title</h2>
            <ul>
                <li th:each="aNew:${news}">
                    <h2><a href="#" th:href="@{/news/{id}(id=${aNew.id})}" th:text="${aNew.title}">Otsikko</a></h2>
                    <br/>
                    <h4 th:text="${aNew.ingress}">Ingressi</h4>
                    <br/>
                    <img th:src="@{/images/{id}(id=${aNew.id})}" alt="Kuva ei näy!" width="500"/>
                    <br/>
                    <br/>
                </li>
            </ul>


            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <div th:replace="fragments/footer :: footer">
            </div>
    </body>



</html>
