<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8" />
        <title>Iltapulu</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div th:replace="fragments/header :: header">
        </div>
        <br/>
        <br/>
        <br/>
        <br/>


        <ul>
            <li th:each="w:${writers}">
                <span  th:text="${w.name}"/>
                <br/>
            </li>
        </ul>
        
        <form method="POST" action="/writers">
            <input type="text" name="name" placeholder="Anna nimi"/>
            <input type="submit" value="Luo"/>
        </form>
    </body>

</html>
